body {
    font-family: 'Poppins', Arial, sans-serif;
    background: linear-gradient(to bottom, red, black);
    text-align: center;
    padding: 0;
    color: white;
    margin: 0;
}

.container {
    background-color: red;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 0 auto;
    max-width: 400px;
}

h1 {
    color: black;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    background: white; /* Set the background of the input to white */
}

button {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    margin: 5px;
    background: black;
}

#qrcode {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

#qrcode img {
    max-width: 100%;
    height: auto;
    border: 3px solid white;
}

a {
    display: inline-block;
    background: linear-gradient(to bottom, #4CAF50, #45a049);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 40px;
    }

    input {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }
}
